# CMake / Build artifacts
/build*/
*.VC.db
*.VC.opendb

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# User-specific files
*.user

# Ignore potential build artifacts within the wxWidgets source tree
/lib/
*.json

# Executables and libraries
*.exe
*.dll
*.lib
*.obj

# Test artifacts
/tests/pcb_files/progress-log.txt
